@inherits LayoutComponentBase

<div class="page">
    <div class="sidebar">
        <NavMenu />
    </div>

    <main style="background-color: #F6F5FA">
        @Body
    </main>
</div>

<RadzenComponents @rendermode="@RenderMode.InteractiveServer" />

<div id="blazor-error-ui">
    An unhandled error has occurred.
    <a href="" class="reload">Reload</a>
    <a class="dismiss">🗙</a>
</div>
