@page "/faculties"
@inject HttpClient HttpClient
@rendermode InteractiveServer

<h3 class="faculties__header">Факультети</h3>

<RadzenButton Style="border-radius:25px;margin-bottom:25px;" Icon="add" Text="Добавити"></RadzenButton>

@if (faculties == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Факультет</th>
                <th>Примітка</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var faculty in faculties)
            {
                <tr>
                    <td class="faculties__data">
                        <div class="faculties__data-id">
                            @faculty.FacultyId
                        </div>
                    </td>
                    <td>@faculty.FacultyName</td>
                    <td>@faculty.FacultyNotes</td>
                    <td class="faculties__data">
                        <div class="faculties__data-block">
                            <RadzenButton ButtonStyle="ButtonStyle.Success">Edit</RadzenButton>
                            <RadzenButton ButtonStyle="ButtonStyle.Danger">Delete</RadzenButton>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}


@code {
    List<Faculty>? faculties = null;

    protected override async Task OnInitializedAsync()
    {
        Console.WriteLine(HttpClient.BaseAddress);
        faculties = await HttpClient.GetFromJsonAsync<List<Faculty>>("api/Faculty/GetFaculties");
    }

}
