@page "/faculties"
@inject HttpClient HttpClient
@rendermode InteractiveServer

<PageTitle>Факультети</PageTitle>
<h3 class="tracking-widest text-4xl font-bold text-gray-900 dark:text-white mb-[20px]">Факультети</h3>

<RadzenButton Icon="add" Text="Добавити" class="bg-gradient-to-r from-purple-500 to-pink-500 mb-[25px] rounded-[25px]"></RadzenButton>

@if (faculties == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Факультет</th>
                <th>Примітка</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var faculty in faculties)
            {
                <tr>
                    <td class="faculties__data">
                        <div class="faculties__data-id">
                            @faculty.FacultyId
                        </div>
                    </td>
                    <td class="faculties__data">@faculty.FacultyName</td>
                    <td class="faculties__data">@faculty.FacultyNotes</td>
                    <td class="faculties__data">
                        <div class="faculties__data-block">
                            <RadzenButton>Edit</RadzenButton>
                            <RadzenButton>Delete</RadzenButton>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
}


@code {
    List<Faculty>? faculties = null;

    protected override async Task OnInitializedAsync()
    {
        Console.WriteLine(HttpClient.BaseAddress);
        faculties = await HttpClient.GetFromJsonAsync<List<Faculty>>("api/Faculty/GetFaculties");
    }

}
