.faculties__header {
    margin-bottom: 30px;
}

.faculties__data{
    vertical-align:middle;
}

.faculties__data-id {
    display: flex;
    justify-content: space-around;
}

.faculties__data-block {
    display: flex;
    gap: 10px;
}

th {
    border: 1px solid rgb(133, 133, 133)
}
th:last-child {
    border-left: none;
}
th:nth-last-child(2) {
    border-right: none;
}

td {
    border-left: 1px solid rgba(0,0,0,0.2);
    border-right: 1px solid rgba(0,0,0,0.2);
}

* {
    font-family: 'Source Sans 3';
    font-weight: 500;
}