.groups__header {
    margin-bottom: 30px;
}

.groups__data {
    vertical-align: middle;
    word-wrap: break-word; /* Дозволяє переносити слова, якщо вони не поміщаються в рядок */
    overflow-wrap: break-word;
    overflow: hidden; /* Обрізає текст, який не поміщається в рядок */
    height: 90px;
}

.groups__data-id {
    display: flex;
    justify-content: space-around;
}

.groups__data-block {
    display: flex;
    gap: 10px;
}

#add-button {
    --tw-bg-opacity: 1;
    background-color: rgb(0 0 0 / var(--tw-bg-opacity));
}

#delete-button-faculty {
    --tw-bg-opacity: 1;
    background-color: rgb(239 68 68 / var(--tw-bg-opacity));
}
#delete-button-faculty:hover {
}

#delete-button-student {
    --tw-bg-opacity: 1;
    background-color: rgb(239 68 68 / var(--tw-bg-opacity));
}
#delete-button {
    --tw-bg-opacity: 1;
    background-color: rgb(239 68 68 / var(--tw-bg-opacity));
}


* {
    font-family: 'source sans 3';
}

td {
    border-left: 1px solid #dee2e6;
    border-right: 1px solid #dee2e6;
}

th {
    border: 1px solid rgb(133, 133, 133)
}

    th:last-child {
        border-left: none;
    }

    th:nth-last-child(2) {
        border-right: none;
    }